<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styles.css')}}"> 
</head>


<body>
    <div class="container">
        <h2>✅ The Telegram Bot is running!</h2>
        <button class="btn" onclick="href='https://t.me/dsai_bw_gemini_bot'">Open Telegram Bot</button>
        <form action="/main" method="post">         
            <input type="submit" value="Main">
        </form>
    </div>
</body>

