<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styles.css')}}"> 
</head>


<body>
    <div class="container">
        <h2>✅ The Telegram bot is running!</h2>
        <p>Click the button below to open the Telegram bot:</p>
        <a class="btn" href="https://t.me/dsai_bw_gemini_bot" target="_blank">Open Telegram Bot</a>
        <form action="/main" method="post">         
            <input type="submit" value="Main">
        </form>
    </div>
</body>

